@model IEnumerable<DataBase.Entities.User>
@{
    var count = Model.ToList().Count;
    var user = Model.ToList();
}
<style>
    .content {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: stretch;
        align-items: stretch;
    }

    .dep {
        text-align: center;
        flex-grow: 1;
        border: 1px  solid;
        background-color:whitesmoke;
    }
</style>
<div class="content">
    @foreach (var item in Model)
    {
        @if (item.RoleId == 3)
        {
            var c = item;
            <div class="dep">
                <h3>Глава департамента</h3>
                @item.Login 
                <div>
                    @foreach (var sub in user)
                    {
                        if (sub.SupervisorId == c.Id)
                        {
                            <h3>Тимлид</h3>
                            <p>@sub.Login</p>
                            var teamlead = sub.Id;
                            <h3>Сотрудники</h3>
                            foreach (var employee in user)
                            {
                                if (employee.SupervisorId == teamlead)
                                {
                                    <p>@employee.Login @employee.Role.RoleName</p>
                                }
                            }
                        }
                    }
                </div>
            </div>
        }
    }
</div>
<a href="##" onClick="history.go(-1); return false;">Previous page</a>

